button {
    font-size: 1em;
    padding: 0.7em;
    border-radius: 100em;
    border: 1px solid black;
}


table {
    display: inline-block;
    color: white;
    font-size: 2em;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    border-spacing: 0.25em;
    top: 0em;

}
.history {
    top: 0.25em;
    overflow-y: auto;
    max-width: 20em;
    position:center

}

td {
    --tile-color: gray;
    border: solid 2px var(--tile-color);
    height: 1.5em;
    width: 1.3em;
}

td.partial {
    --tile-color: #c9b458;
}

td.correct {
    --tile-color: #6aaa64;
}

td.wrong {
    --tile-color: #787c7e;
 }

td.blank {
    --tile-color: white;
    color: black
    
 }
td.invalid {
    --tile-color: black;
    color:#ff6347;
    border: solid 2px var(--tile-color);
}
td.partial, td.correct, td.wrong, td.blank {
    background-color: var(--tile-color);
    border-color: black;
}



.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background:#dcdcdc;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select:none;
    transition: bottom 0.4s;
    position:relative
}

.keyboardHidden{
    bottom:-100%;
}

.keyboardKeys{
    text-align: center;
    width: 100%
}

.keyboardKey{
    height: 45px;
    width: 7%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: white;
    color: black;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}


.keyboard__key--wide{
    width: 12%;
    color: black
}

.keyboard__key--extra-wide{
    width: 36%;
    max-width: 500px;
}

.keyboard__key--dark{
    background: rgba(0, 0, 0, 0.25);
    color: #ffffff;
    width: 20%
}

.greenKey{
    background: #6aaa64	
}

.yellowKey{
    background: #c9b458;
}
.greyKey{
    background: grey;
}